<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/carrito.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <title>carrito</title>
</head>
<body>
    <header class="main-header">
        <div class="header-top">
          <div class="header-left">
            <img src="img/logo4.png" alt="" class="logo" />
          </div>
  
          <div class="header-center-simple">
            <h4>Scaloneta Shop</h4>
          </div>
  
          <div class="header-center">
            <input type="search" placeholder="Que quieres buscar" />
            <input type="submit" value="Buscar" />
          </div>
  
          <div class="header-right">
            <a href="/login.html"><i class="fas fa-user"></i></a>
            <a href=""><i class="fas fa-heart"></i></a>
            <a href="/carrito.html"><i class="fas fa-shopping-cart"></i></a>
          </div>
        </div>
  
        <div class="header-center-mobile">
          <input type="search" placeholder="Que quieres buscar" />
          <input type="submit" value="Buscar" />
        </div>
  
        <nav class="main-navbar">
          <ul class="center-navbar">
            <li><a href="">Categorias |</a></li>
            <li><a href="">Hombre |</a></li>
            <li><a href="">Mujer |</a></li>
            <li><a href="">Marcas |</a></li>
            <li><a href="">Liquidacion |</a></li>
            <li><a href="">Novedades |</a></li>
          </ul>
        </nav>
      </header>
    
        <div class="top-carrito">
            <h2>MI CARRITO<i class="fas fa-shopping-cart"></i></h3>
            <h5>productos</h5>
            <div>N</div>
        </div>
    <nav class="main">
    <div class="TodosLosProductos">
        <nav class="productos">
            <img src="img/descarga-1.jpg" class="logoo1">
        <div>
            <h3>Zapatillas Nike</h3>
            <p>talle 43</p>
        </div>
        </nav>

        <nav class="productos">
            <img src="img/descarga-2.jpg" class="logoo1">
            <div>
                <h3>Remera nike</h3>
                <p>talle S</p>
            </div>
        </nav>

        <nav class="productos">
            <img src="img/descarga-3.jpg" class="logoo1">
        <div>
            <h3>Remera Nike Blanca</h3>
            <p>talle M</p>
        </div>
        </nav>    
    </div>
        <nav class="total">
            <h3>Codigo de descuento</h3>
            <div>
            <label></label>
            <input type="codigo de descuento" name="codigoDescuentoS">
            </div>
            <h3>Resumen</h3>
            <p>info</p>
            <input type="submit" value="COMPRAR">
        </nav>
    </nav>
<div class="bottom-carrito">
<h3>RECOMENDADO PARA VOS</h3>
</div>
<div class="main2">
    <nav class="productos2">
        <img src="img/descarga-1.jpg" class="logoo">
        <div>
            <h3>Zapatillas Nike</h3>
            <p>talle 43</p>
        </div>
    </nav>

    <nav class="productos2">
        <img src="img/descarga-2.jpg" class="logoo">
        <div>
            <h3>Remera nike</h3>
            <p>talle S</p>
        </div>
    </nav>

    <nav class="productos2">
        <img src="img/descarga-3.jpg" class="logoo">
        <div>
            <h3>Remera Nike Blanca</h3>
            <p>talle M</p>
        </div>
    </nav>
    <nav class="productos2">
        <img src="img/descarga-4.jpg" class="logoo">
        <div>
            <h3>Zapatillas Nike Blanca</h3>
            <p>talle 41</p>
        </div>
    </nav>
</div>

<footer class="footer-home">
        <div class="div-footer">
            <ul class="ul-footer">
                <li class="li-footer"><a href="">Institucional</a></li>
                <li class="li-footer"><a href="">Ayuda</a></li>
                <li class="li-footer"><a href="">Atencion al cliente</a></li>
            </ul>
        </div>

        <div class="section-redesSociales">
            <div>
                <h4>Scaloneta Shop</h4>
            </div>
            <div>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </div>
        <div class="copyright">
            <h5>© Copyright - 2017 - 2021 www.scalonetashop.com.ar, TODOS LOS DERECHOS RESERVADOS. Las fotos contenidas en este site, el logotipo y las marcas son propiedad de www.dexter.com.ar y/o de sus respectivos titulares. Está prohibida la reproducción total o parcial, sin la expresa autorización de la administradora de la tienda virtual. Dexter, empresa perteneciente al grupo DABRA S.A. con domicilio en Autopista Panamericana KM 25,6 - Don Torcuato de la Provincia de Buenos Aires – Argentina.</h5>
        </div>
    
    </footer>
</body>
</html>