<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Zapatillas Adidas Daily 3.0</title>
   
</head>

</div>

	
<div class="ficha-producto">

<h1>Zapatillas Adidas Daily 3.0</h1>

<img width="600" height="500" src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/3bbb6b65391a4c5ebe45aba50160b664_9366/Zapatillas_Daily_3.0_Negro_FW7033_01_standard.jpg">            

<br>

<h2 class="precio">$9.499,00</h2><br>
<input type="button" value="Añadir al carrito">


<h3>Características del producto</h3>

<p>
    <strong>Horma:</strong> Clásica<br/>
    <strong>Sistema:</strong> Atado de cordones<br/>
    <strong>Exterior:</strong> Lona prelavada<br/>
    <strong>Tipo de plantilla:</strong> OrthoLite®<br/>
    <strong>Suela:</strong> Caucho de apariencia vulcanizada<br/>
    <strong>Color del artículo:</strong> Core Black / Cloud White / Core Black<br/>
    <strong>Número de artículo:</strong> FW7033<br/>

        </div>
 

<section class="productos-relacionados">

<h3>Productos relacionados</h3>
            
    <ul class="productos-4-columnas">
  
<li>
<div><img src="https://assets.adidas.com/images/w_276,h_276,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/d2f55d1fc6e1437cbdd7a8870143ee73_9366/B22706_00_plp_standard.jpg"></div>
<br>

<h4>Zapatillas 3MC Vulc</h4>        
<h5 class="precio">$9.499,00</h5><br>
<input type="button" value="Añadir al carrito">
</li>

<li>
    <div><img src="https://assets.adidas.com/images/w_276,h_276,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/3da8f4118a0f4484a448a8910036d260_9366/B22707_00_plp_standard.jpg"></div>
    <br>
    
    <h4>Zapatillas 4MC Vulc</h4>        
    <h5 class="precio">$9.499,00</h5><br>
    <input type="button" value="Añadir al carrito">
    </li>

<li>
    <div><img src="https://assets.adidas.com/images/w_276,h_276,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/2257d46c349744c1a1b5ad0b011d4181_9366/H04558_00_plp_standard.jpg"></div>
    <br>
        
        <h4>Zapatillas Grand Court Base Beyond</h4>        
        <h5 class="precio">$11.499,00</h5><br>
        <input type="button" value="Añadir al carrito">
        </li>

<li>
    <div><img src="https://assets.adidas.com/images/w_276,h_276,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/2932ff2c354640baa09cac0200fd1a25_9366/FZ0961_00_plp_standard.jpg"></div>
    <br>
                
        <h4>Zapatillas Run 60s 2.0</h4>        
        <h5 class="precio">$15.999,00</h5><br>
        <input type="button" value="Añadir al carrito">
        </li>
        
    </ul>

</section>
</div>

<body>
    </html>
