footer {
  padding-top: 30px;
  margin-bottom: 0px;
  background-color: rgba(168, 168, 168, 0.418);
  border-top: 2px solid #c7c7c7;
  border-radius: 2px;
}

.ul-footer {
  text-align: center;
  list-style: none;
  margin: 0px;
  padding: 0;
}

.ul-footer a {
  text-decoration: none;
  color: black;
}

.li-footer {
  margin-bottom: 10px;
}

.section-redesSociales {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.copyright {
  padding: 5px;
}
