<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <header class="main-header">
      <%- include('../partials/header') %>
    </header>

    <section class="section-carrousel">
      <div class="section-carrousel">
        <ul class="slider">
          <li class="li-carrousel">
            <img
              src="img/ejemploCarrouselHome.jpeg"
              alt=""
              class="img-carrousel"
            />
          </li>
        </ul>
      </div>
    </section>

    <section class="section-carrousel-deportes">
      <div class="section-carrousel-desportes">
        <ul class="slider">
          <li class="li-carrousel">
            <img
              src="img/ejemploCarrousel2.jpeg"
              alt=""
              class="img-carrousel"
            />
          </li>
        </ul>
      </div>
    </section>

    <section class="section-mas-vendidos">
        <h2>Mas vendidos</h2>
        <div class="div-mas-vendidos">
            <article>
                <img src="img/masVendidos1.jpeg" alt="" />
                <div class="div-article">
                  <p class="precios">$6.770</p>
                  <p class="descuentos"> 40% OFF</p>
                </div>
                <h1 class="descripcion">Camiseta titular 2021</h1>
            </article>

            <article>
                <img src="img/masVendidos2.jpeg" alt="" />
                <div class="div-article">
                  <p class="precios">$6.770</p>
                  <p class="descuentos"> 40% OFF</p>
                </div>
                <h1 class="descripcion">Camiseta suplente 2021</h1>
            </article>

            <article>
                <img src="img/masVendidos33.jpeg" alt="" />
                <div class="div-article">
                  <p class="precios">$6.770</p>
                  <p class="descuentos"> 40% OFF</p>
                </div>
                <h1 class="descripcion">Camiseta titular 2020</h1>

            </article>
            <article>
                <img src="img/masVendidos4.jpeg" alt="" />
                <div class="div-article">
                  <p class="precios">$6.770</p>
                  <p class="descuentos"> 40% OFF</p>
                </div>
                <h1 class="descripcion">Camiseta suplente 2020</h1>

            </article>

            <div class="div-imagen-fija">
                <img src="img/ejemploImagenFijaHome.jpeg" alt="" class="imagen-fija">
            </div>
    </section>

    <section class="recomendados">
        <h2>Recomendados para vos!</h2>
        <div class="div-recomendados">
            <article>
                <img src="img/masVendidos1.jpeg" alt="" />
                <div class="div-article">
                  <p class="precios">$6.770</p>
                  <p class="descuentos"> 40% OFF</p>
                </div>
                <h1 class="descripcion">Camiseta titular 2021</h1>
            </article>

            <article>
                <img src="img/masVendidos2.jpeg" alt="" />
                <div class="div-article">
                  <p class="precios">$6.770</p>
                  <p class="descuentos"> 40% OFF</p>
                </div>
                <h1 class="descripcion">Camiseta suplente 2021</h1>
            </article>

            <article>
                <img src="img/masVendidos33.jpeg" alt="" />
                <div class="div-article">
                  <p class="precios">$6.770</p>
                  <p class="descuentos"> 40% OFF</p>
                </div>
                <h1 class="descripcion">Camiseta titular 2020</h1>

            </article>
        </div>

    </section>

    <footer class="footer-home">
      <%- include('../partials/footer') %>

    </footer>
  </body>
</html>
