<div class="div-footer">
  <ul class="ul-footer">
    <li class="li-footer"><a href="">Institucional</a></li>
    <li class="li-footer"><a href="">Ayuda</a></li>
    <li class="li-footer"><a href="">Atencion al cliente</a></li>
  </ul>
</div>

<div class="section-redesSociales">
  <div>
    <h4>Scaloneta Shop</h4>
  </div>
  <div>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-facebook"></i>
    <i class="fab fa-twitter"></i>
  </div>
</div>
<div class="copyright">
  <h5>
    © Copyright - 2017 - 2021 www.scalonetashop.com.ar, TODOS LOS DERECHOS
    RESERVADOS. Las fotos contenidas en este site, el logotipo y las marcas son
    propiedad de www.ScalonetaShop.com.ar y/o de sus respectivos titulares. Está
    prohibida la reproducción total o parcial, sin la expresa autorización de la
    administradora de la tienda virtual. Scaloneta, empresa perteneciente al grupo
    CABRA S.A. con domicilio en Autopista Panamericana KM 25,6 - Don Torcuato de
    la Provincia de Buenos Aires – Argentina.
  </h5>
</div>
