<div class="header-ontop">
  <div class="content">
    <h5>Envios a todo el pais!</h5>
  </div>
</div>
<div class="header-top">
  <div class="header-left">
    <a href="/"><img src="/img/logo4.png" alt="" class="logo" /></a>
  </div>

  <div class="header-center-simple">
    <h4>SCALONETA SHOP</h4>
  </div>

  <div class="header-center">
    <form action="/products/search" method="POST">
      <input class="search" name="search" placeholder="Que quieres buscar?"/>
      <input class="button-header" type="submit" value="Buscar">
    </form>
  </div>

  <% if (locals.isLogged) {%>
  <div class="header-right-logged">
    <a class="Bienvenido" href="/users/perfil"><h6>Bienvenido <%= locals.userLogged.name %></h6></a>
    <a href="../../carrito"><i class="fas fa-shopping-cart"></i></a>
    <a href="../../users/logout"><i class="fas fa-sign-out-alt"></i></a>
  </div>
  <% } else { %>
  <div class="header-right">
    <a href="../../users/login"><i class="fas fa-user"></i></a>
    <a href="../../carrito"><i class="fas fa-shopping-cart"></i></a>
  </div>
  <% }%>
</div>

<nav class="main-navbar">
  <ul class="center-navbar">
    <li><a href="/mantenimiento">Categorias |</a></li>
    <% if (locals.isLogged) {%>
    <li><a href="/products"> Productos |</a></li>
    <% }%>
    <li><a href="/mantenimiento">Hombre |</a></li>
    <li><a href="/mantenimiento">Mujer |</a></li>
    <li><a href="/mantenimiento">Marcas |</a></li>
    <li><a href="/mantenimiento">Liquidacion |</a></li>
    <li><a href="/mantenimiento">Novedades</a></li>
  </ul>
</nav>
