<div class="header-ontop">
  <div class="content">
    <h5>Envios a todo el pais!</h5>
  </div>
</div>
<div class="header-top">
  <div class="header-left">
    <a href="/"><img src="/img/logo4.png" alt="" class="logo" /></a>
  </div>

  <div class="header-center-simple">
    <h4>SCALONETA SHOP</h4>
  </div>

  <div class="header-center">
    <form action="">
      <input class="search" type="search" placeholder="Que quieres buscar" />
      <button class="button-header" type="submit">
        <i class="fas fa-search"></i>
      </button>
    </form>
  </div>

  <div class="header-right">
    <a href="../../users/login"><i class="fas fa-user"></i></a>
    <a href=""><i class="fas fa-heart"></i></a>
    <a href="../../carrito"><i class="fas fa-shopping-cart"></i></a>
  </div>

</div>

<nav class="main-navbar">
  <ul class="center-navbar">
    <li><a href="">Categorias |</a></li>
    <li><a href="/products">Mis Productos |</a></li>
    <li><a href="">Hombre |</a></li>
    <li><a href="">Mujer |</a></li>
    <li><a href="">Marcas |</a></li>
    <li><a href="">Liquidacion |</a></li>
    <li><a href="">Novedades</a></li>
  </ul>
</nav>
